body {
    font-family:Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    background-color: rgb(134, 47, 134);
}
header {
    background-color: rgb(255, 73, 1);
    color: rgb(255, 254, 255);
    text-align: center;
    padding: 2rem;
}
blockquote {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}
h1 {
    text-align: left;
}
nav {
    text-align: right;
    background-color: rgb(235, 235, 235);
    font-size: x-large;
}
p {
    font-size: x-large;
}
section {
    text-align: center;
    color: rgb(255, 254, 255);
}
img {
    width: 20%
}